{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>{% block title %}Test{% endblock %}</title>
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'second_exam_attempt_app/css/style.css' %}">

	{% block extrastyles %}

	{% endblock %}
</head>
<body>

	<section class="text-danger text-center">
		{% if messages %}
		<ul class="list-unstyled d-inline-block">
			{% for message in messages %}
			<li class="text-left">{{ message }}</li>
			{% endfor %}
		</ul>
		{% endif %}
	</section>

    {% block index %}

	{% endblock %}
	
	{% block dashboard %}

	{% endblock %}

	{% block new %}

	{% endblock %}

	{% block edit %}

	{% endblock %}

	{% block details %}

	{% endblock %}

</body>
</html>