{% extends 'second_exam_attempt_app/base.html' %}
{% load static %}

{% block title%}New Job{% endblock %}

{% block extrastyles %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/new_css/new.css' %}" />
{% endblock %}

{% block new %}

<div id="job_container_1" style="font-size:50px">Hello {{ user.first_name }}! Create a job!</div>
<div class="pages_container">
    <a class="pages" href="/dashboard">Home</a>
</div>
<div id="logout"><a href="/logout">Logout</a>
</div>
<br>
			
<form action="/jobs/create" method="POST">
	{% csrf_token %}
	<div class="form-group">
		<label>Title:</label>
		<input class="form-control" name="Title">
	</div>

	<div class="form-group">
		<label>Description:</label>
		<input class="form-control" name="Description">
    </div>
    
    <div class="form-group">
            <label>Location:</label>
            <input class="form-control" name="Location">
        </div>

	<button class="btn btn-info" types ="submit">Submit</button>
</form>

{% endblock %}